.teks-putih {color: white}

.teks-hitam {color: black}

.tab-link-highlight {display:none;}

.teks-hijau {color: #16a085;}

.teks-biru {color: #6495ed;}

.gambar-slider {width: 90%; border-radius: 10px; margin: 0px 5% 0px 5%;}

.baris-icon {margin: 0px 5% 15px 5%;}

.besar-icon {width: 50%}

.besar {width: 100%}

.teks-tengah {text-align: center;}

.font17 {font-size: 17px;}

.text-hitam {color:black; text-align: justify;}

.gambar-tengah {display: block; margin-left: auto; margin-right: auto;}

.radius10 {border-radius: 10px;}

.md.device-android {
    --f7-safe-area-top: 44px;
    --f7-safe-area-bottom: 34px;
}

.badge-disabled {
    opacity: 0.5; 
    pointer-events: none;
    display: none; 
}

.login_img {
    width: 100%;          /* Makes the image width responsive to the screen size */
    height: auto;         /* Maintains the aspect ratio */
    max-width: 100%;      /* Prevents the image from exceeding the screen width */
    display: block;       /* Removes any extra space below the image */
    object-fit: cover;    /* Ensures the image covers the entire area without distortion */
}